.block {
    min-height: 100vh;
    background-color: #252527;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #252527;
    margin: 5%;
color: #fff;

}

.title {
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.title h2{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    /*font: 700 40px/1.2 'Josefin Sans', sans-serif;*/
}

.content {
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}

.work {
    border: 1px solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    text-align: center;
    height: 100%;
    margin: 5px;
}

.img {
    height: 65%;
    min-height: 150px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about {
    height: 34%;
    min-height: 250px;
}
.span {
    height: 150px;
}

.button {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
