@import "src/common/styles/varabiles";
@import "src/common/styles/mixin";

.block {
  background-color: $bgFirstColor;
  padding: 5% 0 10% 0;
  border: 1px solid;
  max-height: 60vh;
  @media screen and (max-width: 380px) {
    padding: 0 0 10% 0;
    min-height: 63vh;
  }

  .blockContact {
    animation-duration: 1.25s;
    min-height: 68vh;
    width: 80%;
    margin: 0 auto;
    @include flexFirstStyle(flex, column, wrap, center, center);

    .inputBlock {
      width: 70%;
      border: 1px solid;
      padding-left: 7px;

      .input {
        width: 100%;
        @include flexFirstStyle(flex, column, nowrap, space-around, flex-start);

        & input {
          margin: 6px 30px 6px 5px;
          height: 24px;
          width: 80%;
          background-color: #252527;
          border: 1px solid #4a4a4a;
          color: $textColor;
        }

        & textarea {
          color: $textColor;
          margin: 0 30px 6px 5px;
          max-width: 80%;
          min-width: 80%;
          min-height: 220px;
          max-height: 263px;
          background-color: #252527;
          border: 1px solid #4a4a4a;
          animation-delay: 0.9s;
          animation-name: fadeInUp;
        }
      }
    }
  }
}
