@import "src/common/styles/varabiles";
@import "src/common/styles/mixin";

.block {
  background-color: $bgFirstColor;
  padding: 10% 0;
  border: 1px solid;
  max-height: 60vh;

  .blockContact {
    animation-duration: 1.25s;
    min-height: 70vh;
    width: 80%;
    //border: 1px solid $textColor;
    margin: 0 auto;
    @include flexFirstStyle(flex, column, wrap, center, center);
    //align-content: space-around;
    .input {
      @include flexFirstStyle(flex, column, nowrap, space-around, flex-start);
      width: 70%;
      min-height: 350px;
      //align-content: center;
      border: 1px solid;
      padding-left: 7px;

      & input, textarea {
        width: 80%;
        background-color: #252527;
        border: 1px solid #4a4a4a;
      }

      & textarea {
        max-width: 80%;
        min-width: 80%;
        min-height: 140px;
        max-height: 180px;
        //visibility: visible;
        animation-delay: 0.2s;
        animation-name: fadeInUp;
      }

      & button {
        color: $textColor;
        font-family: $fontFamilyPoppins;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 7px 20px;
        transition: all 0.4s ease-in-out 0s;
        background: transparent;
        max-width: 100px;
        margin: 15px auto;
        z-index: 22;
        text-align: center;
        width: 100%;
        border: none;
        position: relative;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 8px;
          width: 80%;
          background: #4e93e6;
          z-index: -1;
          transition: all 0.2s ease-in-out 0s;
          margin: -5px auto;
        }

        &:hover:after {
          height: 130%;
          width: 100%;
        }
      }

      //& button:hover {
      //  display: block;
      //  font: 400 14px/1.2 'Poppins', sans-serif;
      //  text-transform: uppercase;
      //  text-decoration: none;
      //  letter-spacing: 1px;
      //  padding: 7px 20px;
      //  cursor: pointer;
      //  -webkit-transition: all 0.4s ease-in-out 0s;
      //  -moz-transition: all 0.4s ease-in-out 0s;
      //  -o-transition: all 0.4s ease-in-out 0s;
      //  transition: all 0.4s ease-in-out 0s;
      //  background: transparent;
      //  color: #fff;
      //  max-width: 170px;
      //  margin: 15px auto;
      //  z-index: 22;
      //  text-align: center;
      //  width: 100%;
      //  border: none;
      //  position: relative;
      //}
    }
  }
}
