.containerMain {
    transition: 1s;
    min-height: 80vh;
    margin: 0 auto;
    background-repeat: round;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

