@import "varabiles.scss";

@mixin text($fontFamily, $fontWeight, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}
@mixin flexFirstStyle($display, $flexDirection, $flexWrap, $justifyContent, $alignItems){
  display: $display;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}