$textColor: #fff;
$secondTextColor: #4e93e6;
$bgFirstColor: #1f1f20;
//$bgSecondColor: rgba(37, 37, 39, 0.17);
$bgSecondColor: #252527;
$fontFamilyJosefin: 'Josefin Sans', sans-serif;
$fontFamilyPoppins: 'Poppins', sans-serif;