@import "src/common/styles/varabiles.scss";
@import "src/common/styles/mixin";
.block {
    height: 35vh;
    background-color: $bgSecondColor;
    display: flex;
    color: $textColor;
    .container {
        width: 80%;
        margin: 5% auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }
}




