.block {
    height: 35vh;
    background-color: #a5c975;
    display: flex;

}

.container {
    width: 80%;
    margin: 5% auto;
    border: 1px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.title {
    font-weight: bold;
}

.click {

}