@import 'src/common/styles/varabiles';
@import "src/common/styles/mixin";

.nav {
  .listMenu {
    padding: 0 15px;
    margin: 0 25px 10px 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 375px) {
      margin: 0 45px 10px 0;
    }

    .menuItem {
      list-style-type: none;
      @include text($fontFamilyJosefin, 300, 18px, 1.4);
      cursor: pointer;
      font-weight: bold;
      .active {
        color: $secondTextColor;
      }
      &:hover {
        color: $secondTextColor;
      }

    }

  }
}

