.skillBlock {
    height: 100vh;
    background-color: darkseagreen;
    display: flex;
}

.container {
    display: flex;
    align-content: center;
}

.header {
    margin: 30px auto;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.skill {
    background-color: mistyrose;
    width: 30%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.icon {
    background-color: gray;
    min-width: 80px;
    min-height: 80px;
}

.about {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutSkill {
text-align: center;
}

