.skillBlock {
    min-height: 100vh;
    background-color: darkseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}
.skillItem {
    margin: 0 auto;
}
/*.header {*/

/*}*/

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
}

.skill {
    width: 270px;
    align-items: center;
    border: 1px solid;
    margin: 5px;
}

.icon {
    margin: 0 auto;
    background-color: gray;
    min-height: 80px;
    width: 35%;
    align-items: center;
    text-align: center;
}
.about {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.aboutSkill {
    text-align: center;
}

