@import "src/common/styles/varabiles";
@import "src/common/styles/mixin";
.mainblock {
    min-height: 100vh;
    background-color: $bgFirstColor;
    color: $textColor;
    .about {
        min-width: 280px;
        background-color: $bgFirstColor;
        .text_about{
            margin: 15px;
            @include text($fontFamilyJosefin, 700, 16px, 1px);
        }
        .text_h1{
            margin: 15px;
            @include text($fontFamilyJosefin, 700, 35px, 2px);
        }
    }
    .photo {
        width: 280px;
        height: 400px;
        min-height: 55%;
        background-color: #bebbbb;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}



