.mainblock {
    min-height: 100vh;
    background-color: mistyrose;
}

.about {
    min-width: 35%;
    background-color: gray;
}

.photo {
    width: 300px;
    min-height: 55%;
    background-color: #bebbbb;
}