@import "src/common/styles/varabiles";
@import "src/common/styles/mixin";
.mainblock {
    min-height: 100vh;
    background-color: $bgFirstColor;
    color: $textColor;

    .about {
        min-width: 280px;
        background-color: $bgFirstColor;
        .text_about{
            margin: 15px;
            @include text($fontFamilyJosefin, 700, 16px, 1px);
        }
        .text_aboutSecond{
            margin: 15px 15px 25px 30px;
            @include text($fontFamilyJosefin, 700, 16px, 1px);
        }
        .text_h1{
            margin-bottom: 25px;
            @include text($fontFamilyJosefin, 400, 30px, 2px);
        }
        .name {
            @include text($fontFamilyJosefin, 700, 35px, 2px);
            position: relative;
            z-index: 0;
            //display: inline-block;
            &::after{
                content: "";
                position: absolute;
                left: 18px;
                right: 0;
                bottom: 0;
                height: 20px;
                width: 100%;
                z-index: -1;
                background-color: $secondTextColor;
                //opacity: 0.3;
            }
        }
    }
    .photo {
        margin-top: 20px;
        width: 280px;
        height: 400px;
        min-height: 55%;
        background-color: #bebbbb;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}



