.mainblock {
    min-height: 100vh;
    background-color: mistyrose;
}

.about {

    min-width: 280px;
    background-color: gray;
}

.photo {
    width: 280px;
    height: 400px;
    min-height: 55%;
    background-color: #bebbbb;
}
.text_about{
    margin: 15px;

}