@import "src/common/styles/varabiles";
@import "src/common/styles/mixin";

.footer {
  height: 100px;
  background-color: $bgSecondColor;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  color: $textColor;
  & h3 {
    @include text($fontFamilyJosefin, 500, 12px, 1px);
  }
  & span {
    @include text($fontFamilyJosefin, 500, 12px, 1px);
  }
  .containerSqu {
    display: flex;
    justify-content: center;

    .contactMe {
      position: relative;

    .squares {
      width: 40px;
      height: 40px;
      //background-color: #bebbbb;
      position: absolute;
      left: 0;
      right: 0;

      :hover{
        cursor: pointer;
      }
    }

    .square {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      position: relative;
    }
  }}
}


